# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
46aa7ccf-bb80-4b67-ae42-3c46a1cc1e16
Pajakin_id_PRD_v1.0.docx
Pajakin_id_PRD_v1.1.docx
Pajakin_id_PRD_v1.2.docx
RootFacts_Submission.zip
WhatsApp Image 2026-07-12 at 08.42.39.jpeg
